<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th{
        background-color: aqua;
        padding : 5px 12px;
        text-align: center;
        font-size: 20px;
    }
    td{
        padding : 5px 12px;
        text-align: center;
        font-size: 20px;
    }
    button{
        margin-top:10px;
        padding : 5px 12px;

    }
</style>
<body>
    <h1>학생 테이블 </h1>
    <table border="1">
        <tr>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>학년</th>    
            <th>수정</th>
            <th>삭제</th>
        </tr>
        <% list.forEach(item => { %>
            <tr>
                <td><%= item.stuNo %></td>
                <td><%= item.stuName %></td>
                <td><%= item.stuDept %></td>
                <td><%= item.stuGrade %></td>
                <td><a href="/student/search/<%= item.stuNo %>">수정</a></td>
                <td>


                    <form action="/student/delete/<%= item.stuNo %>?_method=DELETE" method="POST">
                        <input type="hidden" name="stuNo" value="<%= item.stuNo %>">
                        <button type="submit">삭제</button>
                    </form>


                </td>
            </tr>
        <% }); %>
    </table>
    <button id="addButton1">추가하기</button>
</body>
</html>
<script>
    document.getElementById('addButton1').addEventListener('click', () => {
        location.href = '/student/add';  
    });
    
    // document.querySelectorAll('.delete').forEach(button => {
    //     button.addEventListener('click', () => {
    //         const stuNo = button.getAttribute('data-stuNo');

    //         fetch(`/student/delete/${stuNo}`, {
    //             method: 'DELETE',
    //         }).then(() => {
    //             window.location.reload(); 
    //         });
    //     });
    // });
</script>