<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    th{
        background-color: aqua;
        padding : 5px 12px;
        text-align: center;
        font-size: 20px;
    }
    td{
        padding : 5px 12px;
        text-align: center;
        font-size: 20px;
    }
    button{
        margin-top:10px;
        padding : 5px 12px;

    }
</style>
<body>
    <h1>유저 목록 테이블 </h1>
    <table border="1">
        <tr>
            <th>아이디</th>
            <th>비번</th>
            <th>이름</th>
            <th>성별</th>    
        </tr>
        <% list.forEach(item => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.pwd %></td>
                <td><%= item.name %></td>
                <td>
                    <% if(item.gender === "M") { %>
                        남성
                    <% } else { %>
                        여성
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </table>
    <button id="addButton">추가하기</button>

    <!-- <h1>유저목록</h1>
    <% list.forEach( item =>{ %>
        <h2><li> 아이디 : <%= item.id %> || 이름 : <%= item.name %>  || 성별 : <%= item.gender %></li></h2>
    <% }) %>

    <h1>유저목록 div태그 감싸기</h1>
    <% list.forEach( item =>{ %>
        <li> <%= "<div>" + item.id + "</div>" %> </li>
    <% }) %> -->

</body>
</html>
<script>
    // 버튼 클릭 시 이동할 URL을 지정
    document.getElementById('addButton').addEventListener('click', function() {
        location.href = '/user/add';  // 원하는 페이지로 이동
    });
</script>